.navbar {
  padding: 1rem;
  /* height: 3rem; */
  width: 100%;
  background-color: #ffa500;
  text-align: left;
  color: darkslategray;
  font-size: 24px;
}
.navBtn {
  float: right;
  text-align: center;
  margin-right: 1.5rem;
}
a:link {
  color: darkslategray;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: darkslategray;
  background-color: transparent;
  text-decoration: none;
}
.earlogo {
  width: 2.5rem;
  margin-top: 0;
}
